{% extends "base.html" %}
{% block title %} Reset Done {% endblock title %}
{% block body %}

        
<div class="mt-5">
     <h1 class="flex justify-center items-center align-center text-3xl text-gray-500">Reset Password Link Sent.Check mail !</h1>
     <h2 class="flex justify-center items-center align-center text-3xl text-gray-500 mb-3">Didn't recieve email/Entered wrong email?</h2>
     <a href="{% url 'password_reset' %}" class=" flex justify-center items-center align-center text-xl text-blue-500"><button class="form__button" >Resend Email</button></a>
</div>
    
     
            
           
{% endblock body %}